<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма заказа</title>
</head>
<body>

<h2>Форма заказа товара</h2>

<form method="post" action="{% url 'order_view' %}">
    {% csrf_token %}
    <label for="first_name">Имя:</label>
    <input type="text" id="first_name" name="first_name" required>

    <label for="last_name">Фамилия:</label>
    <input type="text" id="last_name" name="last_name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="country">Страна:</label>
    <input type="text" id="country" name="country" required>

    <label for="city">Город:</label>
    <input type="text" id="city" name="city" required>

    <label for="street">Улица:</label>
    <input type="text" id="street" name="street" required>

    <label for="house_number">Номер дома:</label>
    <input type="number" id="house_number" name="house_number" required>

    <label for="apartment_number">Квартира:</label>
    <input type="number" id="apartment_number" name="apartment_number" required>

    <button type="submit">Отправить</button>
</form>

</body>
</html>
